<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronOcr" version="2021.2.1" targetFramework="net452" />
  <package id="IronOcr.Languages.ChineseSimplified" version="4.4.4.1" targetFramework="net452" />
  <package id="IronOcr.Languages.Khmer" version="2020.11.2" targetFramework="net452" />
  <package id="IronOcr.Languages.Lao" version="2020.11.2" targetFramework="net452" />
  <package id="IronOcr.Languages.Myanmar" version="2020.11.2" targetFramework="net452" />
</packages>